apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-test
  namespace: openshift-gitops
spec:
  destination:
    namespace: app-mod-argocd-test
    server: https://kubernetes.default.svc
  project: default
  source:
    path: service-catalog-quarkus-reactive/test
    repoURL: your-github-config-repo-https-url
    targetRevision: main
  syncPolicy:
    automated: {}
---