/target/*
READNIK.md
.project
.classpath
.settings
.DS_Store
.factorypath
.tern-project
.vscode

output-binary

transformationadvisor-Linux_workspace_collection.tgz
uploadEndpoint.json
transformationadvisor-2.3.0


monolith-websphere-855/CustomerOrderServicesWeb/WebContent/dojo
monolith-websphere-855/CustomerOrderServicesWeb/WebContent/dojo_built

monolith-websphere-90/CustomerOrderServicesWeb/WebContent/dojo
monolith-websphere-90/CustomerOrderServicesWeb/WebContent/dojo_built

monolith-websphere-liberty/CustomerOrderServices/target
monolith-websphere-liberty/CustomerOrderServicesApp/target
monolith-websphere-liberty/CustomerOrderServicesTest/target
monolith-websphere-liberty/CustomerOrderServicesWeb/target
monolith-websphere-liberty/CustomerOrderServicesWeb/WebContent/dojo
monolith-websphere-liberty/CustomerOrderServicesWeb/WebContent/dojo_built

frontend-dojo/CustomerOrderServices/target
frontend-dojo/CustomerOrderServicesApp/target
frontend-dojo/CustomerOrderServicesTest/target
frontend-dojo/CustomerOrderServicesWeb/target
frontend-dojo/CustomerOrderServicesWeb/WebContent/dojo
frontend-dojo/CustomerOrderServicesWeb/WebContent/dojo_built

monolith-open-liberty/CustomerOrderServices/target
monolith-open-liberty/CustomerOrderServicesApp/target
monolith-open-liberty/CustomerOrderServicesTest/target
monolith-open-liberty/CustomerOrderServicesProject/target
monolith-open-liberty/CustomerOrderServicesWeb/target
monolith-open-liberty/CustomerOrderServicesWeb/WebContent/dojo
monolith-open-liberty/CustomerOrderServicesWeb/WebContent/dojo_built

monolith-open-liberty-cloud-native/target
monolith-open-liberty-cloud-native-del

frontend-dojo/CustomerOrderServicesApp/lib
frontend-dojo/CustomerOrderServicesTest/WebContent/WEB-INF/lib
frontend-dojo/resources

monolith-open-liberty/CustomerOrderServicesApp/lib
monolith-open-liberty/resources

monolith-websphere-liberty/CustomerOrderServicesApp/lib
monolith-websphere-liberty/CustomerOrderServicesTest/WebContent/WEB-INF/lib
monolith-websphere-liberty/resources

service-catalog-quarkus-synch/target

service-catalog-quarkus-reactive/target

frontend-single-spa
yarn.lock

core.*
heapdump*
javacore*
Snap*

transformation-advisor

*.class
*.log
*.ctxt
.mtj.tmp/
.jar
*.war
*.nar

*.zip
*.tar.gz
*.rar
hs_err_pid*
Deployment/.DS_Store
images/.DS_Store


ui
monolith-websphere-90/supporting-assets/sessions/db2/db2jcc_license_cu.jar
monolith-websphere-90/supporting-assets/sessions/db2/db2jcc4.jar
monolith-websphere-90/lib/db2jcc_license_cu.jar
monolith-websphere-90/CustomerOrderServicesTest/WebContent/WEB-INF/lib/dbunit-2.2.jar
monolith-websphere-90/CustomerOrderServicesTest/WebContent/WEB-INF/lib/junit.jar
monolith-websphere-90/CustomerOrderServicesTest/WebContent/WEB-INF/lib/junitee.jar
monolith-websphere-90/resources/jmx_exporter/jmx_prometheus_javaagent-0.11.0.jar
monolith-websphere-90/resources/db2/db2jcc4.jar
monolith-websphere-90/resources/db2/db2jcc_license_cu.jar
monolith-websphere-90/lib/db2jcc4.jar
