<server description="Inventory Service">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>cdi-2.0</feature>
    <feature>concurrent-1.0</feature>
    <feature>jsonb-1.0</feature>
    <feature>mpHealth-2.2</feature>
    <feature>mpConfig-1.4</feature>
    <feature>mpReactiveMessaging-1.0</feature>
  </featureManager>

  <variable name="default.http.port" defaultValue="9088"/>
  <variable name="default.https.port" defaultValue="9448"/>

  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

  <webApplication location="service.war" contextRoot="/CustomerOrderServicesWeb"/>
</server>
