apiVersion: v1
kind: Secret
metadata:
  name: git-ssh-key
  namespace: app-mod-argocd-pipelines
  annotations:
    tekton.dev/git-0: github.com
type: kubernetes.io/ssh-auth
data:
  ssh-privatekey: <base64 data>
---