<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>
	CustomerOrderServicesWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-role>
		<role-name>SecureShopper</role-name>
	</security-role>
	<security-constraint>
		<display-name>CustomerServices</display-name>
		<web-resource-collection>
			<web-resource-name>Customer</web-resource-name>
			<url-pattern>/jaxrs/Customer</url-pattern>
			<url-pattern>/jaxrs/Customer/*</url-pattern>
			
		</web-resource-collection>
		<auth-constraint><role-name>SecureShopper</role-name></auth-constraint>
        <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>