<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>CustomerOrderServicesTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>
		</description>
		<display-name>JUnitEEServlet</display-name>
		<servlet-name>JUnitEEServlet</servlet-name>
		<servlet-class>org.junitee.servlet.JUnitEEServlet</servlet-class>
		<run-as>
			<role-name>SecureShopper</role-name>
		</run-as>
	</servlet>
	<servlet-mapping>
		<servlet-name>JUnitEEServlet</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<display-name>
		SecureTest</display-name>
		<web-resource-collection>
			<web-resource-name>Test</web-resource-name>
			<url-pattern>/Test</url-pattern>
			<url-pattern>/Test/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>
			SecureShopper</description>
			<role-name>SecureShopper</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Test</realm-name>
	</login-config>
	<security-role>
		<role-name>SecureShopper</role-name>
	</security-role>

	<ejb-local-ref >
		<description>
		</description>
		<ejb-ref-name>ejb/ProductSearchService</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home></local-home>
		<local>org.pwte.example.service.ProductSearchService</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/CustomerOrderService</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>org.pwte.example.service.CustomerOrderServices</local></ejb-local-ref>
	<mime-mapping>
		<extension>json</extension>
		<mime-type>application/json</mime-type>
	</mime-mapping>
	<env-entry>
		<env-entry-name>DBUNIT_DRIVER_CLASS</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>com.ibm.db2.jcc.DB2Driver</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>DBUNIT_CONNECTION_URL</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>jdbc:db2://localhost:50000/ORDERDB</env-entry-value>
	</env-entry>
		<env-entry>
		<env-entry-name>DBUNIT_SCHEMA</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>DB2INST1</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>DBUNIT_USERNAME</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>DB2INST1</env-entry-value>
	</env-entry>
		<env-entry>
		<env-entry-name>DBUNIT_PASSWORD</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>Object00</env-entry-value>
	</env-entry>
		<env-entry>
			<env-entry-name>CUSTOMER_ORDER_SERVICES_WEB_ENDPOINT</env-entry-name>
			<env-entry-type>java.lang.String</env-entry-type>
			<env-entry-value>https://localhost:9443/CustomerOrderServicesWeb/</env-entry-value>
		</env-entry>
		<env-entry>
			<env-entry-name>CUSTOMER_ORDER_SERVICES_TEST_ENDPOINT</env-entry-name>
			<env-entry-type>java.lang.String</env-entry-type>
			<env-entry-value>http://localhost:9080/CustomerOrderServicesTest/</env-entry-value>
		</env-entry>
</web-app>
